.ant-layout-content {
    margin: 25px 40px;
}

@media (max-width: 768px) {
    .ant-layout-content {
        margin: 0;
    }
    .ant-layout-sider {
        position: fixed;
        height: 100vh;
        z-index: 2;
    }
    .page-side-cover {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(192,192,192,.6);
        z-index: 1;
    }
}

.ant-layout-sider-zero-width-trigger {
    top: 12px;
    transform: translateX(5px);
    background-color: #fff;
}

.ant-layout-sider-zero-width-trigger:hover {
    background-color: #fff;
}

.ant-layout-sider-zero-width-trigger svg {
    color: #111;
}

@media (max-width: 575px) {
    .ant-collapse-content > .ant-collapse-content-box {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.global-cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192,192,192,.4);
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-drawer-body {
    padding: 5px;
}

.ant-drawer-content-wrapper {
    width: 400px!important;
}

@media (max-width: 500px) {
    .ant-drawer-content-wrapper {
        width: 80%!important;
    }
}

.anticon-info-circle {
    cursor: pointer;
}

@media (max-width: 500px) {
    .ant-collapse-content > .ant-collapse-content-box {
        padding: 0;
    }
}

.ant-radio-group {
    width: 100%;
}

.ant-radio-button-wrapper {
    height: unset;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .ant-collapse-content > .ant-collapse-content-box {
        padding: 15px;
    }
}